{% extends "base.html" %}

{% block title %}
  Strona główna
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h4>Produkty</h4>
      </div>
      <div class="col">
        <div class="float-right">
          <input type="search" class="form-control" placeholder="Wyszukaj produkt">
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">
                <input type="text" class="form-control" placeholder="Nazwa">
            </th>
            <th scope="col">
              <input type="text" class="form-control" placeholder="Marka">
            </th>
            <th scope="col">Model</th>
            <th scope="col">Kolor</th>
            <th scope="col">Ilość</th>
            <th scope="col">Kategoria</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {% for item in mainPageData.products %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.color }}</td>
                <td> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{ item.qty }} <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></td>
                <td>{{ item.category }}</td>
                <td>
                  <a style="color:magenta" href="#">Pokaż</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
