{% extends "base.html" %}

{% block title %}
  Strona główna
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="container">
        <div class="row">
          <h3>Produkt 1</h3>
        </div>
        <div class="row">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Nazwa produktu</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nazwa" value="Produkt 1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Kategoria</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Akcesoria</option>
                <option>Telefony</option>
              </select>
            </div>
            <div class="form-group">
              Stan magazynowy
            </div>
            <div class="form-group">
              <label for="">Łódź - M1</label>
              <input class="form-control" id="" placeholder="0" value="7" >
            </div>
            <div class="form-group">
              <label for="">Kielce - Galeria</label>
              <input class="form-control" id="" placeholder="0" value="2" readonly >
            </div>
            <div class="form-group">
              <label for="">Łódź - Guliwer</label>
              <input class="form-control" id="" placeholder="0" value="1" readonly >
            </div>
            <div class="form-group">
              Atrybuty
              <button type="button" class="btn btn-primary btn-sm">Dodaj</button>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Kolor</option>
                    <option>Marka</option>
                  </select>
                </div>
                <div class="col">
                  <input class="form-control" id="" placeholder="wartość" value="" >
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
